ul{
    list-style-type: none;
display: flex;
padding: 0;
margin: 0;
gap: 20px;
}
a{
    text-decoration: none;
    /* color: white; */
    font-size: 18px;
    color: #E5E7EB;
}

.header{
    display:flex;
    flex: 1;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    
}
.headerLogo{
font-size: 24px;
color: #F9FAF8;
font-weight: bold;


}


div{
    /* display: block;
    border: solid black 2px; */
}
.one{
    height: 500px;
    background-color: #1f2937;
    color: white;
}
.bh{
    height : 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.bh .center{
    display: flex;
width: 850px;
height: 225px;

}
.left p{
font-size: 18px;
}

.right,.left{
    flex:1;
}
.center{
 width: 600px;   
}
.right{
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.center span{
    font-size: 48px;
    font-weight:bolder;
}
.btn{
    background-color: #3882f6;
    color: white;
    border-radius: 25px;
}
.left{
    padding-left: 5px;
}

/* evrything above contains the element of box one */