ul{
    list-style-type: none;
display: flex;
padding: 0;
margin: 0;
gap: 20px;
}
a{
    text-decoration: none;
    /* color: white; */
    font-size: 18px;
    color: #E5E7EB;
}

.header{
    display:flex;
    flex: 1;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    padding-left: 170px;
    padding-right: 170px;

}
.headerLogo{
font-size: 24px;
color: #F9FAF8;
font-weight: bold;


}


div{
    /* display: block;
    border: solid black 2px; */
}
.one{
    height: 500px;
    background-color: #1f2937;
    color: white;
}
.bh{
    height : 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.bh .center{
    display: flex;
width: 950px;
height: 225px;

}
.left p{
font-size: 18px;
}

.right,.left{
    flex:1;
}
.center{
 width: 600px;   
}
.center .right{
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 138, 138);
}
.center span{
    font-size: 48px;
    font-weight:bolder;
}
.btn{
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    width: 110px;
    font-size: 18px;
    margin-top: 15px;
    padding: 5px;
}
.left{
    padding-left: 5px;
    padding-right: 30px;
    gap: 10px;
}

/* evrything above contains the element of box one */
/* here the starts the work on the second box */

.s-i{
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.box{
    width: 150px;
    height: 150px;
    display: block;
    border: solid #3882f6 4px;
    border-radius: 10px;
}
.box-container{
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.s-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
    height: 300px;
}
/* here starts the work of box three */
.three{
    height: 400px;
    background-color: #E5E7EB;
    display :flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quote{
    
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 700px;
    padding: 5px;
    gap: 10px;
    color: #1f2937;
}
.quote .txt{
    font-style: italic;
    font-size: 36px;
}
.author{
    
     align-self   : flex-end;
     padding: 10px;
     font-size: 20px;
     /* font-style: italic; */
 font-weight: bold;
    }
    body{
        padding: 0;
        margin: 0;;
    }
    /* here starts div four */
    .four{
        height: 400px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blue-box{
        background-color: #3882f6;
        color: white;
        width: 1000px;
        height: 150px;
        display: flex;
        border-radius: 10px;
        justify-content: space-around;
    }
    .blue-box .right{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        
    }
    .sign-btn{
        display: block;
        border: solid white 2px;
        border-radius: 5px;
        color: white;
        background-color: #3882f6;
        font-size: 18px;
    }
    .blue-box .left{
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    }
/* .left .head{
    font-size: 26px;
} */
p{
    margin: 0;
}
/* here starts footer */
.footer{
    height: 90px;
    background-color: #1f2937;
display: flex;
color: white;
justify-content: center;
align-items: center;
font-size: 18px;
}